
@{
    ViewBag.Title = "Start";
}
<h1>Finally</h1>

@*https://www.realtor.com/realestateandhomes-search/22206/type-single-family-home,condo-townhome-row-home-co-op,multi-family-home/price-na-220000/radius-50*@
